<?xml version="1.0" encoding="UTF-8" ?>
<web-app
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xsi:schemaLocation=
                "http://xmlns.jcp.org/xml/ns/javaee
        http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
        version="4.0"
>
<!--Servlet配置-->
  <display-name>LearnServlet</display-name>
  <default-context-path>ContextPath</default-context-path>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <!--Servlet 请求与响应 全局编码设置-->
  <request-character-encoding>UTF-8</request-character-encoding>
  <response-character-encoding>UTF-8</response-character-encoding>
  <!--设置默认的区域与编码对应-->
  <locale-encoding-mapping-list>
    <locale-encoding-mapping>
      <locale>zh_TW</locale>
      <encoding>UTF-8</encoding>
    </locale-encoding-mapping>
  </locale-encoding-mapping-list>
  <!--设置后缀与与MIME类型-->
  <mime-mapping>
    <extension>pdf</extension>
    <mime-type>application/pdf</mime-type>
  </mime-mapping>

  <servlet>
    <servlet-name>Hello</servlet-name>
    <servlet-class>package.Hello</servlet-class>
    <multipart-config>
      <file-size-threshold>0</file-size-threshold>
<!--      <location>""</location>-->
<!--      <max-file-size>-1L</max-file-size>-->
<!--      <max-request-size>-1L</max-request-size>-->
    </multipart-config>
  </servlet>

</web-app>
