<?xml version="1.0" encoding="UTF-8" ?>
<web-app
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xsi:schemaLocation=
                "http://xmlns.jcp.org/xml/ns/javaee
        http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
        version="4.0"
>
<!--Servlet配置-->
  <display-name>LearnServlet</display-name>
  <default-context-path>ContextPath</default-context-path>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <!--Servlet 请求与响应 全局编码设置-->
  <request-character-encoding>UTF-8</request-character-encoding>
  <response-character-encoding>UTF-8</response-character-encoding>
  <!--设置默认的区域与编码对应-->
  <locale-encoding-mapping-list>
    <locale-encoding-mapping>
      <locale>zh_TW</locale>
      <encoding>UTF-8</encoding>
    </locale-encoding-mapping>
  </locale-encoding-mapping-list>
  <!--设置后缀与与MIME类型-->
  <mime-mapping>
    <extension>pdf</extension>
    <mime-type>application/pdf</mime-type>
  </mime-mapping>

  <servlet>
    <servlet-name>Hello</servlet-name>
    <servlet-class>package.Hello</servlet-class>
    <multipart-config>
      <file-size-threshold>0</file-size-threshold>
<!--      <location>""</location>-->
<!--      <max-file-size>-1L</max-file-size>-->
<!--      <max-request-size>-1L</max-request-size>-->
    </multipart-config>
  </servlet>

  <session-config>
    <!--设定浏览器多久没有请求应用程序时，HttpSession就失效-->
    <session-timeout>30</session-timeout>
    <!--在ServletContext初始化之前配置SessionCookieConfig-->
    <cookie-config>
      <!-- -->
      <name>youJseSessionId</name>
      <secure>true</secure>
<!--      <http-only>true</http-only>-->
      <max-age>1800</max-age>
    </cookie-config>
  </session-config>

  <!--初始化参数设置-->
  <servlet>
    <servlet-name>ServletInitParameter</servlet-name>
    <servlet-class>pers.mortal.learn.servlet.life.ServletConfigExample</servlet-class>
    <init-param>
      <param-name>姓名</param-name>
      <param-value>钟景文</param-value>
    </init-param>
    <init-param>
      <param-name>方式</param-name>
      <param-value>XML</param-value>
    </init-param>
    <init-param>
      <param-name>作用</param-name>
      <param-value>覆盖默认常数，便于更替常数</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletInitParameter</servlet-name>
    <url-pattern>/life/servlet_init_parameter</url-pattern>
  </servlet-mapping>

  <!--应用程序初始化参数-->
  <context-param>
    <param-name>SERVLET_CONTEXT_INIT_PARAMETER</param-name>
    <param-value>/advance</param-value>
  </context-param>
  <!--监听器-->
  <listener>
    <listener-class>pers.mortal.learn.servlet.listener.servlet_context.ServletContextAttributeListenerExample</listener-class>
  </listener>
  <listener>
    <listener-class>pers.mortal.learn.servlet.listener.servlet_context.ServletContextListenerExample</listener-class>
  </listener>


  <!--过滤器-->
  <filter>
      <filter-name>filterExample</filter-name>
      <filter-class>pers.mortal.learn.servlet.filter.FilterExample</filter-class>
      <init-param>
        <param-name>PARAM1</param-name>
        <param-value>VALUE1</param-value>
      </init-param>
    <init-param>
      <param-name>PARAM2</param-name>
      <param-value>VALUE2</param-value>
    </init-param>
  </filter>
  <filter-mapping>
      <filter-name>filterExample</filter-name>
      <url-pattern>/*</url-pattern>
      <servlet-name>ServletInitParameter</servlet-name>
      <dispatcher>REQUEST</dispatcher>
      <dispatcher>FORWARD</dispatcher>
      <dispatcher>INCLUDE</dispatcher>
      <dispatcher>ERROR</dispatcher>
      <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
</web-app>
